<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<h1><%= @event.title %></h1>
<p><%= simple_format @event.where %></p>
<p><%= simple_format @event.what %></p>
<%= link_to "Join", "http://google.com" %>
