// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* フリックできるコンテンツギャラリー */
.content-gallery {
    display: -ms-flexbox;
    /*--- IE10 ---*/
    display: -webkit-flex;
    /*--- safari（PC）用 ---*/
    display: flex;
    padding: 20px 0;
    overflow-x: scroll;
  }
   
  .content-gallery .content-gallery-card {
    max-width: 200px;
    min-width: 200px;
    margin: 10 10px;
    padding: 10px;
    background-color: #FFF;
    border: solid 1px #CCC;
  }